body {
    margin: 0 auto;
    background-color: rgb(224, 224, 224);
    background-image: url(/img/weather.jpg);

}

.wrapper {
    color: gold;
}

.title {
    text-align: center;
    font-size: 25px;
    /* text-align: center; */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.card-table {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blanchedalmond; */
}

.row {
    font-size: 17px;
}

.package {
    border: 1px solid gold;
    min-width: 250px;
    min-height: 320px;
    border-radius: 10px;
    color: black;
    background-color: gold
}

.featured {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.border:hover {
    background-color: gold;
    border: transparent;
    color: whitesmoke;
    border: 1px solid whitesmoke;
}

.border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 35px;
    text-align: center;
    border: 1px solid gold;
    border-radius: 10px;
    color: black;
    margin-bottom: 10px;
    padding: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn-primary {
    border: 1px solid transparent;
    background-color: blanchedalmond;
}